html { position: relative; min-height: 100%; scroll-behavior: smooth;}
body { font-family: 'Poppins', sans-serif; margin-bottom: 525px; height: 100%;}
body.home { background: url("../images/brg.png") no-repeat top center; background-color: #181822;}
body#share { background: url("../images/share_brg.png") no-repeat top center; margin-bottom: auto !important; background-color: #24223a; font-family: 'Poppins', sans-serif; height: 100%; color: #fff; background-size: cover;}

.metadoor-purple { background-color: #181528;}
.metadoor-purple-2 { background-color: #7478e4;}
.metadoor-yellow { background-color: #f2c242;}
.navbar-brand { margin-right: 8rem;}
.navbar-brand img { image-rendering: -webkit-optimize-contrast; width: 60px;}
.main-heading {  padding: 50px 0;}
.main-heading h1{ font-size: 4.5rem; color: #fff;}
.main-heading h2, .box h3, .box p { color: #fff;}
.main-heading h5 { line-height: 1.8; color: #fff;}
.main-img img { max-width: 100%;}
.main-content h3, .main-content p, .box-content h5 { color: #fff;}
.language-btn { color: rgba(255, 255, 255, 0.5);}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover, .language-btn:hover { color: #f2c242;} 
.download-wrap { margin: 20px 0;}
.download-wrap.ios-bg { background: url("../images/ios1.png") no-repeat top center; padding: 80px 0;}
.download-wrap.anz-bg { background: url("../images/anz1.png") no-repeat top center; padding: 80px 0;}
.download-wrap img { width: 64px;}
.download-btn { margin: 20px 0;}
.btn-yanjie { background-color: #fff; clear: both; padding: 5px 40px; border-radius: 12px; width: 50%;}
.box { background-color: rgba(0,0,0,0.4); border-radius: 12px;padding: 0 3rem 2rem 3rem; margin-bottom: 30px;}
.dark-purple { background-color: #181727;}
.box-2 { margin-bottom: 50px;}
.box-content { height: 180px;}
.box img, .box-2 img { image-rendering: -webkit-optimize-contrast;}
.box-2 img { margin-bottom: 30px;}
.box-2 h5 { line-height: 1.8;}
.dark { background-color: #0d0d15;}
.box-3 { background-color: #24223a; border-radius: 12px;padding: 2rem; margin-bottom: 30px;}
.bg-tr { background-color: transparent !important;}

.tab-menu { border: 1px solid #ccc; padding: 25px; border-radius: 25px;}

li.nav-item { border-bottom: 3px solid #181528;}
li.nav-item.active, li a.nav-link.active { border-bottom: 3px solid #f2c242;}
li.purchase-btn a.nav-link.active { border: none !important;}
.navbar-dark .navbar-nav .active > .nav-link { color: #f2c242;}
.purchase-btn { border-radius: 25px; padding: 0 15px; background-color: #f2c242;}
.purchase-btn:hover { background-color: #fff;}
.purchase-btn a.nav-link { color: #052643 !important; font-weight: bold}
hr.divider { width: 150px; height: 6px; background-color: #7478e4; border-radius: 5px; margin: 0px auto;}

.py-7 { padding: 7rem 0;}
.package-card{ padding:60px 20px; margin-bottom:25px; border-radius: 50px; border: 8px solid #fff; text-align: center; vertical-align: middle;}
.item-active .package-card { border: 8px solid #f2c242; background-color: #181528; color: #fff;}
.item-active .package-card h2, .item-active .package-card .plan-supporting-text h4{ color: #f2c242;}
.item-active .package-card h5.package-detail1 { color: #fff;}
.plan-content { clear: both; display: inline-block;}
.plan-supporting-text { display: inline-block; width: 100%;}
.plan-supporting-text i { color: #f2c242; margin-top: 30px;}

.form-wrap { padding: 25px; background-color: #fff; border-radius: 25px; box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);}
.form-wrap label span, .refund-wrap label span { color: #ff0000; font-size: 10px;}
.btn-submit { background-color:#f2c242 ; color: #052643; text-align: center; width: 100%; margin-top: 1rem;}
.btn-submit:hover { background-color:#052643 ; color: #f2c242;}
.btn-submit-2 { background-color:#7478e4 ; color: #fff !important; text-align: center; width: 100%; margin-top: 1rem; /*border-radius: 25px;*/}
.btn-submit-2:hover { background-color:#f2c242 ; color: #7478e4;}

.footer { position: absolute; bottom: 0; width: 100%; height: 525px; background-color: #181528;}
.footer-content { text-align: center; color: #fff;}
.footer-content img.app-img { height: 75px; margin: 25px 1rem; image-rendering: -webkit-optimize-contrast;}
.footer-content img.payment-mode { height: 30px;}
.accept-follow .accept-follow-content { text-align: center;}
.accept-follow ul, .footer-link ul, .services-include ul { padding-left: 0px;}
.accept-follow li { display: inline-block; margin-right: 15px;}
.accept-follow li:last-child { margin-right: 0px;}
.footer-link a { color: #fff;}
.footer-link a:hover, a.link { color: #f2c242;}
.footer-link li { display: inline-block; border-right: 1px solid #fff; padding: 0 25px;}
.footer-link li:last-child { border-right: none;}
i.bitcoin { color:#ef9751;}
i.alipay { color:#00aae7;}
i.weixin { color:#00c60c;}
i.visa { color:#fff;}
.mobile { display: none !important;}
.language { padding-bottom: 2px;}
.bg-light-grey { background-color: #f1f1f1;}


section.main-img { background: url("../images/top_brg.png") no-repeat center center; height: calc(100vh - 75px); background-size: cover;}
section img.sub-img, img.log-visual { max-width: 80%; image-rendering: -webkit-optimize-contrast;}
img.globe, .gemini-tab img { max-width: 100%;}
.banner-time { position: absolute; color: #fff; font-size: 88px; display: flex; left: 50%; top: 50%; transform: translate(-45%,-50%); line-height: 1; }
.banner-time #time-hour, .banner-time #time-minute, .banner-time #time-second { margin: 0 25px; font-weight: bold; width:100px; text-align: center;}
.banner-time #time-hour p, .banner-time #time-minute p, .banner-time #time-second p{ font-size: 26px; margin-top: 30px; text-align: center; font-weight: normal; width:100px;}
a.gemini-btn { cursor: pointer; border-radius: 50px; padding: 10px 35px; display: inline-block; color: #052643; font-size: 28px; font-weight: bold; text-decoration: none;}
a.gemini-btn:hover { background-color: #fff;}
a.gemini-btn-2 { cursor: pointer; border-radius: 50px; padding: 10px 35px; display: inline-block; color: #f2c242; font-size: 28px; font-weight: bold; text-decoration: none; margin-top: 15px;}
a.gemini-btn-2:hover { background-color: #fff; color: #052643;}

section.download-img { background: url("../images/page_brg.png") no-repeat center center; height: calc(100vh - 75px); background-size: cover;}
.tab-wrapper { position: absolute; bottom: 0; background-color: #f1f1f1; width: 100%; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center;}
.tab-content { text-align: center; color: #fff;}
.gemini-tab, .gemini-tab li.nav-item { border: none;}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus { background-color: #fff;}
.gemini-tab { text-align: center; display: inline-flex;}

.head-content { text-align: center;}
.head-content h4 span { color: #f2c242; font-size: 3.5rem;}

.payment-wrapper {  margin-bottom: 1.5rem; width: 100%; vertical-align: middle;}
.payment-wrapper p { margin: 15px 0 0 0;}
.payment-wrapper img.credit-card { height: 28px; image-rendering: -webkit-optimize-contrast;}
.payment-wrapper img { height: 35px; image-rendering: -webkit-optimize-contrast;}
.services-include ul {list-style: none;  text-indent: -1.8em; padding-left: 1.8em;}
.services-include ul li:before { content: '✓'; margin-right: 15px; color:  #f2c242; font-weight: bold;}
.services-include li { margin-bottom: 15px; text-align: left;}
.services-include img { height: 30px; margin: 0 5px;}
.payment-wrapper input[type="radio"] { display: none;}
.payment-wrapper label { height: 100%; display: block; background: white; border: 5px solid #fff; border-radius: 25px; padding: 50% 0;text-align: center; box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5); position: relative;}
.payment-wrapper input[type="radio"]:checked + label { background: #052643; color: #f2c242; border: 5px solid #f2c242;}



section.contact-img { background: url("../images/brg.png") no-repeat center center rgba(5, 38, 67, 0.5); background-blend-mode: multiply; height: calc(60vh - 75px); background-size: cover; color:#fff; text-align: center;}
.contact-tab { border: none;}
.tab-button { width: 33.3333%;}
.contact-tab .nav-link { border: 1px solid #ccc; border-radius: 25px; margin:0 10px;}
.contact-tab .nav-link.active, .contact-tab .nav-item.show .nav-link { background-color: #052643; color: #f2c242; border-radius: 25px;}
.icon { display: inline-block; width: 48px; height: 48px; background-size: cover;}
.icon-contact { background-image: url("../images/contact.svg");}
.icon-feedback { background-image: url("../images/feedback.svg");}
.icon-connection-feedback { background-image: url("../images/connection-feedback.svg");}
.tab-button .active .icon-contact { background-image: url("../images/contact-active.svg");}
.tab-button .active .icon-feedback { background-image: url("../images/feedback-active.svg");}
.tab-button .active .icon-connection-feedback { background-image: url("../images/connection-feedback-active.svg");}
.tab-button span, .tab-button h6 { display: inline-block; vertical-align: middle;}
.tab-button { text-align: left}
.tab-button h6 { margin:0 0 0 15px;}
.contact-tab-content { text-align: center; color: #052643;}
a.contact-link, a.profile-link, .form-wrap a, .contact-tab a  { color: #052643;}
a.link { color: #f2c242;}
a.purple-link { color: #7478e4;}

a.profile-link sub { margin-left: 35px;}
a.profile-link.active { background-color: #f1eafa !important; color: #7173ea !important;}
a.profile-link i { margin-right: 15px; width: 15px;}
.profile-tab { color: #052643; text-align: left;/*min-height: 700px;*/}
.profile-tab img { max-width: 100%;}
.nav-tabs li.nav-item { border-bottom: none;}
.binding-wrap ul, .invite-wrap ul { list-style: none; padding-left: 0px}
.binding-wrap li { display: inline-block; margin: 0 15px;}
span.code { font-size: 18px !important; color: inherit !important;}
.invite-wrap li { text-align: left; margin-bottom: 15px;}
.invite-wrap li i { margin-right: 20px; color: #f2c242;}
.btn-url { float: right; cursor: pointer}
section.error-img { background: url("../images/top_brg.png") no-repeat center right; height: 100vh; background-size: cover;}
.error-wrap, .success-wrap { text-align:center; color:#fff;}
.error-wrap span, .error-wrap h1 { display: inline-block; vertical-align: text-top;}
.error-wrap span  { margin: 0 15px 15px 0;}
.icon-error { background-image: url("../images/error-sign.svg"); width: 75px; height: 75px; display: inline-block;}
.icon-success { background-image: url("../images/success-sign.svg"); width: 75px; height: 75px; display: inline-block; margin-bottom: 30px;}
.icon-maintenance { background-image: url("../images/web-maintenance.svg"); background-repeat: no-repeat; width: 67px; height: 150px; display: inline-block;}

.outer-wrapper { display:table; width: 100%; height: 100%; top: 0; margin: 0; padding: 0; }
.input-group-addon { padding: 0.5rem 0.75rem; margin-bottom: 0; font-size: 1rem; font-weight: 400; line-height: 1.25; color: #495057; text-align: center; background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0.25rem; }
.vip_card{ position:relative; }
.time_game, .time_vip, .total_recharge{ color:#fff; position:absolute; font-size: 16px; }
.total_recharge{ bottom:50px; left: 40px; }
.time_vip{ bottom:50px; right:0;}
.time_game{ bottom: 75px; right:0;}
.vip_card_title{ color:#606060; font-size: 20px; text-align:center; display: block; margin-bottom: 19px; }
.btn_button { display: none; text-align:left; color: #052643;}
.mobile_ibtn { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #f0f0f0; display: none; }
.vip-info { border-bottom: 1px solid}

section.error404 { background: url("../images/404-img-bg.jpg") no-repeat center right; height: 100vh; background-size: cover;}
.error404 img { max-width: 100%;}

/******Mobile******/
@media (max-width: 1280px) {
	h1 { font-size: 2rem;}
	h2 { font-size: 1.75rem;}
	h3 { font-size: 1.5rem;}
	h4 { font-size: 1.25rem;}
	h5 { font-size: 1rem;}
	
	img.banner-img { max-width: 20%;}
	img.globe, .gemini-tab img { max-width: 80%;}
	section img.sub-img, img.log-visual { max-width: 60%;}
	.footer-content img.app-img { height: 50px;}
}
@media (max-width: 991px) {
	h1 { font-size: 2rem;}
	h2 { font-size: 1.75rem;}
	h3 { font-size: 1.5rem;}
	h4 { font-size: 1.25rem;}
	h5 { font-size: 1rem;}
	
	body { margin-bottom: auto;}
	.navbar-brand { margin-right: 0px;}
	.navbar-brand img { max-width: 80%;}
	img.log-visual { max-width: 100%; margin-bottom: 30px;}
	.main-img h1, .main-img h2, .main-img h3, .main-img h4, a.gemini-btn { text-align: center;}
	section.main-img, section.download-img, section.contact-img { height: auto; padding: 3rem 0;}
	.banner-time { font-size: 3.25rem; transform: translate(-50%,-50%);}
	a.gemini-btn { width: 100%; font-size: 21px;}
	.banner-time #time-hour p, .banner-time #time-minute p, .banner-time #time-second p{ font-size: 1rem; width: 50px;}
	.banner-time #time-hour, .banner-time #time-minute, .banner-time #time-second { width:50px; }
	
	.footer { height: auto; position: relative;}
	.footer-content img.app-img { margin: 10px 0; height: 45px;}
	.footer-link li { padding: 0 10px;}
	.footer-link li a, .footer-content p { font-size: 12px;}
	.desktop { display: none !important;}
	.mobile { display: inline-block !important;}
	section img.sub-img { margin-bottom: 3rem;}
	.py-7 { padding: 7rem 0;}
	.cons-item { margin-bottom: 1rem;}
	.accept-follow, .accept-follow-2 { float: none; margin-top: 10px;}
	.accept-follow .accept-follow-content, .accept-follow-2 .accept-follow-content { text-align: center;}

	.gemini-tab img { max-width: 50%; margin-bottom: 1rem;}
	.gemini-tab li.nav-item { width: 25%;}
	.gemini-tab li.nav-item p { font-size: 0.75rem;}
	img.banner-img { max-width: 60%; margin-bottom: 1rem;}
	.tab-wrapper{ position: relative; margin-top: 2rem;}
	.gemini-tab .nav-link { padding: 0.5rem 0; border: none;}
	.nav-tabs .nav-item { margin-bottom: 0px;}
	
	.tab-button { width: 100%; margin-bottom: 15px;}
	.head-content h4 span { font-size: 2rem;}
	.payment-wrapper img { margin-bottom: 0.5rem;}
	.language-btn { padding: 0px !important;}
	.services-include li { text-align: left;}
	.services-include ul li:before { margin-right: 10px;}
	.form-wrap { margin-top: 15px;}
	.services-include ul { text-indent: -1.5rem; padding-left: 1.5rem;}
	.btn-url { float: none;}
	.binding-wrap li { margin: 0 10px;}

	.content-right { display: none;}
	.btn_button { display: block;}
	img.vip-img { max-width: 100%;}
	.mobile_ibtn { display: block; opacity: 0;}
	.time_game, .time_vip, .total_recharge { font-size: 10px;}
	.time_game { bottom: 40px; right: 12px;}
	.time_vip { bottom: 25px; right: 12px;}
	.total_recharge { bottom: 40px; left: 20px; }	
}

@media (max-width: 767px) {
	.fixed-top { position: fixed; top: 0; right: 0; left: 0; z-index: 1030; }
}

@media (max-width: 667px) {
}

@media (max-width: 480px) {
	
}

@media (max-width: 414px) {
	
}

@media (max-width: 375px) {
	
}

@media (max-width: 320px) {
	
}
